* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333; 
} 

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
}



.nav {
  display: flex;
  gap: 40px;
}

.first {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: 300;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.icon {
  color: rgb(3, 3, 3);
  cursor: pointer;
  padding: 7px;
  border-radius: 20px;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.menu {
  background-color: #353232;
  width: 300px;
  position: sticky;
  left: 41rem;
  line-height: 4.4;
  padding: 1rem;
  display: none;
}

.menu-toggle {
  /* display: none; */
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  display: block;
}

.about-data {
  background-color: #7f807d;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

@media (max-width: 986px) {
  .none {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

}

@media (min-width: 987px) {
  .menu-toggle {
    display: none;
  }



  .menu {
    display: none !important;
  }
}



