.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  min-width: 100%;
  width: auto;
  height: 800px;
}

.bg-custom {
  background-color: #5c1f06;
  border-radius: 50%;
  padding: 5px;
  color: white;
  margin-left: 10px;
}

.m-custom {
  margin-top: 130px;
  margin-left: 30px;
}

.mg-custom {
  margin-top: 150px;
  margin-left: 20px;
}

.list {
  background: linear-gradient(rgb(214 206 206 / 49%), rgb(27 47 3 / 45%));
  backdrop-filter: blur(10px);
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
}

.explore {
  background-color: aliceblue;
  border: none;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  line-height: 20px;
}

.explore:hover {
  background-color: #d4d4d4;
}

.inverted-radius {
  --r: 20px; /* the radius */
  --s: 30px; /* size of inner curve */
  --x: 20px; /* horizontal offset (no percentage) */
  --y: 10px; /* vertical offset (no percentage) */

  width: 290px;
  aspect-ratio: 1;
  background: #3fb8af;
  border-radius: var(--r);
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  mask: calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

/* Preserve existing sizing/colors when applied to img-box-2 */
.img-box-1.inverted-radius {
  width: 284px;
  height: 213px;
  margin: 24px auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 25px 9px 9px 14px;
  overflow: hidden;
  position: relative;
  --r: 27px;
}
.img-box-2.inverted-radius {
  width: 287px;
  height: 209px;
  margin: 24px auto;
  background-color: rgb(61 10 10);
  border-radius: 15px;
  padding: 25px 9px 9px 14px;
  overflow: hidden;
  position: relative;
  color: white;
  --r: 27px;
}
.img-box-3.inverted-radius {
  width: 287px;
  height: 209px;
  margin: 24px auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 25px 9px 9px 14px;
  overflow: hidden;
  position: relative;
  --r: 27px;
}
.img-box-4.inverted-radius {
  width: 421px;
  height: 221px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 25px 9px 9px 14px;
  overflow: hidden;
  position: relative;
  --r: 27px;
}
.img-box-5.inverted-radius {
  width: 405px;
  height: 221px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 25px 9px 9px 14px;
  overflow: hidden;
  position: relative;
  --r: 27px;
}

@media (max-width:568px) {
  .resp-custom {
    width: 500px;
  }
  
}


.second-img {
  width: 264px;
  height: 212px;
  clip-path: inset(0 0 52px 0);
  position: absolute;
  top: 48px;
  left: 24px;
}

.third-img {
  width: 90px;
  height: 222px;
  clip-path: inset(0 0 76px 0);
  transform: scaleX(-1);
  position: absolute;
  top: 66px;
  left: 157px;
}

.first-img {
  width: 281px;
  height: 132px;
  clip-path: inset(0 0 5px 0);
  position: absolute;
  top: 88px;
  left: 0px;
}

.fourth-img {
  width: 367px;
  height: 282px;
  clip-path: inset(0 0 5px 0);
  position: absolute;
  top: 21px;
  left: 34px;
}

.fifth-img {
  width: 501px;
  height: 340px;
  clip-path: inset(0 0 5px 0);
  position: absolute;
  top: -57px;
  left: -44px;
}

.side-custom {
  margin: auto;
  gap: 50px;
  padding: 20px;
}

.img-custom {
  margin-top: 90px;
  gap: 30px;
}

.container {
  background-color: #d2d5d7;
  border-radius: 15px;
  padding: 30px 0px;
}